body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh;          /* Altura total da janela */
    margin: 0;
    background-color: #000; /* Cor de fundo preta */
    color: #fff;            /* Cor do texto branca para contraste */
}

.container {
    display: flex;
    flex-direction: column; /* Organiza os elementos em uma coluna */
    align-items: center;    /* Centraliza os itens horizontalmente */
    text-align: center;     /* Alinha o texto ao centro */
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;       /* Limita a largura máxima */
    color: #000;            /* Cor do texto preta dentro do contêiner */
}

.form {
    margin-bottom: 20px; /* Espaçamento entre os formulários */
}

.form div {
    margin-bottom: 10px; /* Espaçamento entre os campos */
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Faz os inputs ocuparem toda a largura disponível */
    max-width: 300px; /* Limita a largura máxima */
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.export-links {
    margin-top: 20px; /* Espaçamento acima dos links de exportação */
}
s
.export-buttons {
    margin-top: 20px; /* Espaçamento acima dos botões */
}

.btn-export {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-export.excel {
    background-color: #007bff; /* Verde para Excel */
}

.btn-export.excel:hover {
    background-color: #0056b3; /* Verde mais escuro ao passar o mouse */
}

.btn-export.json {
    background-color: #007bff; /* Azul para JSON */
}

.btn-export.json:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
}
